.chrono, .chrono * {
  outline: none !important;
  -moz-outline: none;
}

.chrono, .chronoscope, .cmf-chart {
  -moz-outline: none; 
}

.cmf-infowindow {
  display: none
}

.chrono-MenuBar .chrono-MenuItem-selected {
  background-color: #E8EEF7;
}

.chrono-MenuBar {
  background-color: #C3D9FF;
  border: 1px solid #87B3FF;
  cursor: default;
}

.chrono-infoWindow {
  max-width: 200px;
  background-color: white;
  padding: 8px;
  -moz-border-radius: 10%;
  border: 1px solid #87B3FF;
  font-family: Verdana;
  font-size: 90%;
}

.chrono-MenuBar .chrono-MenuItem {
  padding: 1px 4px 1px 4px;
  font-size: smaller;
  cursor: default;
}


div {
  color: black;
  background-color: transparent
}

