body,table {
  background-color: #f3ead8;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

h1,h2 {
  font-family: Trebuchet MS;
  color: navy;
  font-size: 18pt;
  border-bottom: double 3px;
  padding-top: 20px;
  padding-left: 20px;
}

table {
  width: 100%;
  border: 1px;
}

td.jsdocRetType {
  width: 200px;
}

div.jsdocText {
  padding-bottom: 20px;
}

.jsdocHeader {
  background-color:  #E8F1F6;
  padding: 5px;
  font-weight: bold;
}

td {
  padding-left: 5px;
  padding-right: 10px;
}

.jsdocMethodName {
  font-weight: bold;
}

.jsdocComment,.jsdocComment p {
  font-size: 11px;
  color: blue;
  padding-left: 15px;
}

a {
  color: #331166;
  text-decoration: none;
}

a:hover {
  color: #666666;
  text-decoration: underline;
}